## Python Tutorial 3

In [110]:
# create a dictionary having keys a, b, and c where each key has a value of list from 1-10, 11-19, and 21-29 respectively.
# access the third value of each key from the dictionary.


dict_nums = dict(x=list(range(1, 11)), y=list(range(11, 20)), z=list(range(21, 30)))
print(dict_nums)
print(dict_nums["x"][2])
print(dict_nums["y"][2])
print(dict_nums["z"][2])
for k,v in dict_nums.items():
   print(k, "has value", v)

{'x': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10], 'y': [11, 12, 13, 14, 15, 16, 17, 18, 19], 'z': [21, 22, 23, 24, 25, 26, 27, 28, 29]}
3
13
23
x has value [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
y has value [11, 12, 13, 14, 15, 16, 17, 18, 19]
z has value [21, 22, 23, 24, 25, 26, 27, 28, 29]

In [76]:
# match (key values) pairs in two dictionaries.
x = {'k1': 1, 'k2': 3, 'k3': 2}
y = {'k1': 1, 'k2': 2}

print (set(x.items()) )
print (set(y.items()) )
for (key, value) in set(x.items()).intersection (set(y.items())):
    print('%s: %s is present in both x and y' % (key, value))


f=lambda z,k : set(z.items()).intersection (set(k.items()))
list(f(x,y))

{('k2', 3), ('k1', 1), ('k3', 2)}
{('k1', 1), ('k2', 2)}
k1: 1 is present in both x and y

[('k1', 1)]

In [111]:
#Write a function returning the maltiplication of all the numbers in a list.

def multiply(numbers):  
    total = 1
    for x in numbers:
        total *= x  
    return total  
print(multiply([8, 2, 3, -1, 7]))


from functools import reduce
reduce(lambda x, y: x*y, [8, 2, 3, -1, 7])

-336

-336

## Creating a Comment

In [112]:
#This is a comment
print("Hello, World!")

Hello, World!

In [113]:
#This is a comment
#written in
#more than just one line
print("Hello, World!")

Hello, World!

In [116]:
"""
This is a comment
written in
more than just one line
"""
print("Hello, World!")

Hello, World!

## Python Conditions and If statements

Python supports the usual logical conditions from mathematics:

    Equals: a == b
    Not Equals: a != b
    Less than: a < b
    Less than or equal to: a <= b
    Greater than: a > b
    Greater than or equal to: a >= b

In [117]:
a = 33
b = 200
if b > a:
  print("b is greater than a")

b is greater than a

In [119]:
a = 33
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

b is greater than a

In [ ]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

In [ ]:
a = 200
b = 33
c = 500
if a > b and c > a:
  print("Both conditions are True")

## Loops

In [1]:
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

In [123]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

In [127]:
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

In [132]:
fruits = ["apple", "banana", "cherry"]

for x in fruits:
  print(x)

apple
banana
cherry

In [133]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    break
  print(x)

apple

In [134]:
 fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

apple
cherry

In [9]:
for x in range(0,11,2):
  print(x)

0
2
4
6
8
10

In [10]:
for x in range(6):
  print(x)
else:
  print("Finally finished!")

0
1
2
3
4
5
Finally finished!

In [12]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    if y=="banana":
        continue
    print(x, y)

red apple
red cherry
big apple
big cherry
tasty apple
tasty cherry

## Functions

In [135]:
x = "awesome"

def myfunc():
  print("Python is " + x)

myfunc()

Python is awesome

In [136]:
x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

In [137]:
x = "awesome"

def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

In [143]:
def my_function(fname="Can", lname="Canan"):

  print("The person name is {} {}".format(fname,lname))

#my_function("Emil","There")
my_function(lname="Tobias")
#my_function("Linus")

The person name is Can Tobias

In [79]:
def my_function(country = "Norway"):
  print("I am from " + country)

my_function("Sweden")
my_function()

I am from Sweden
I am from Norway

In [80]:
def my_function(food):
  
  for x in food:
    print(x)

fruits = ["apple", "banana", "cherry"]

my_function(fruits)

apple
banana
cherry

In [25]:
def my_function(child3, child2, child1):
  print("The youngest child is " + child3)

#my_function(child1 = "Emil", child2 = "Tobias", child3 = "Linus") 
my_function("Emil", "Tobias", "Linus")

The youngest child is Emil

In [144]:
def my_function(*kids):
  print("The youngest child is " + kids[2]+ str(type(kids)))

my_function("Emil", "Tobias", "Linus")

The youngest child is Linus<class 'tuple'>

In [154]:
#tuple -> 0-8
#list -> 11-19
#dict (key= tuple)-> 21-29
#list(1)*dict(1)

t=tuple(range(0,9))
l=list(range(11,20))
value=tuple(range(21,30))
print(t)
print(l)
#print(value)
d={}
for i in t:
    d[i]=value[i]
print(d)

li=[]
def myfunc(x,y):
    for i in range(0,9):
        #print(x[i],y[i])
        li.append(x[i]*y[i])
        
myfunc(l,d) 
print(li)

(0, 1, 2, 3, 4, 5, 6, 7, 8)
[11, 12, 13, 14, 15, 16, 17, 18, 19]
{0: 21, 1: 22, 2: 23, 3: 24, 4: 25, 5: 26, 6: 27, 7: 28, 8: 29}
11 21
12 22
13 23
14 24
15 25
16 26
17 27
18 28
19 29
[231, 264, 299, 336, 375, 416, 459, 504, 551]

## Lambda Function
A lambda function is a small anonymous function.

A lambda function can take any number of arguments, but can only have one expression.

In [155]:
x = lambda a : a + 10
print(x(5))

15

In [156]:
def lb(a):
    return a+10
print(lb(5))

15

In [157]:
 x = lambda a, b : a * b
print(x(5, 6))

30

In [160]:
def myfunc(n):
  return lambda a : a * n

mydoubler2 = myfunc(2)
mydoubler3 = myfunc(3)
print(mydoubler2(10))
print(mydoubler3(10))

20
30

In [163]:
def newFunc(f):
    print(f(2))
newFunc(mydoubler3)

6

In [31]:
def myfunc(n):
  return lambda a : a * n

mydoubler = myfunc(2)
mytripler = myfunc(3)

print(mydoubler(11))
print(mytripler(11))

22
33

### MAP FILTER

In [168]:
#r = map(func, seq)
def fahrenheit(T):
    return ((float(9)/5)*T + 32)
def celsius(T):
    return (float(5)/9)*(T-32)
temp = (36.5, 37, 37.5,39)

F = list(map(fahrenheit, temp))
C = map(celsius, F)
print(F)
print(list(C))

[97.7, 98.60000000000001, 99.5, 102.2]
[36.5, 37.00000000000001, 37.5, 39.0]

In [172]:
Celsius = [39.2, 36.5, 37.3, 37.8]
Fahrenheit=list(map(lambda x: (float(9)/5)*x + 32, Celsius))
print(Fahrenheit)

[102.56, 97.7, 99.14, 100.03999999999999]

In [173]:
C = list( map(lambda x: (float(5)/9)*(x-32), Fahrenheit) )
print(C)

[39.2, 36.5, 37.300000000000004, 37.8]

In [174]:
a = [1,2,3,4]
b = [17,12,11,10]
c = [-1,-4,5,9]
value=[]
for i in range(0,4):
    value.append(a[i]+b[i])

out1=list( map(lambda x,y:x+y, a,b) )

out2=list (map(lambda x,y,z:x+y+z, a,b,c) )

out3=list( map(lambda x,y,z:x+y-z, a,b,c) )

print(value)
print(out1)
print(out2)
print(out3)

[18, 14, 14, 14]
[18, 14, 14, 14]
[17, 10, 19, 23]
[19, 18, 9, 5]

In [178]:
fib = [0,1,1,2,3,5,8,13,21,34,55]
result = filter(lambda x: x%2 , fib)
print(list(result))

[1, 1, 3, 5, 13, 21, 55]

In [42]:
my_pets = ['alfred', 'tabitha', 'william', 'arla']

uppered_pets = list(map(str.upper, my_pets))

print(uppered_pets)

['ALFRED', 'TABITHA', 'WILLIAM', 'ARLA']

In [45]:
my_strings = ['a', 'b', 'c', 'd', 'e']
my_numbers = [1,2,3,4,5]

results = list(zip(my_strings, my_numbers))

print(results)

[('a', 1), ('b', 2), ('c', 3), ('d', 4), ('e', 5)]

In [46]:
my_strings = ['a', 'b', 'c', 'd', 'e']
my_numbers = [1,2,3,4,5]

results = list(map(lambda x, y: (x, y), my_strings, my_numbers))

print(results)

[('a', 1), ('b', 2), ('c', 3), ('d', 4), ('e', 5)]

In [49]:
scores = [66, 90, 68, 59, 76, 60, 88, 74, 81, 65]

def is_A_student(score):
    return score > 75

over_75 = list(filter(is_A_student, scores))

print(over_75)

[90, 76, 88, 81]

In [59]:
dromes = ("demigod", "rewire", "madam", "freer", "anutforajaroftuna", "kiosk")

palindromes = list(filter(lambda word: word == word[::-1], dromes))

print(palindromes)

v demigod
['madam', 'anutforajaroftuna']

In [71]:
a="merhaba"
a[::-1]

'abahrem'

## Class

In [180]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def myfunc(self):
    print("Hello my name is " + self.name)

p1 = Person("John", 36)
p1.myfunc()

Hello my name is John

In [184]:
class Student(Person):
  pass

x = Student("Abdussamed", 20)
x.myfunc()

Hello my name is Abdussamed

In [187]:
class Student(Person):
    def __init__(self, fname, age):
        self.fname=fname
        print(fname)
    
x = Student("Mike", 20)
x.myfunc()

Mike

AttributeError: 'Student' object has no attribute 'name'

In [188]:
class Student(Person):
  def __init__(self, fname, age):
    Person.__init__(self, fname, age) 
x = Student("Mike", 20)
x.myfunc()

Hello my name is Mike

In [189]:
class Student(Person):
  def __init__(self, fname, age):
    super().__init__(fname, age) 
    
x = Student("Mike", 20)
x.myfunc()

Hello my name is Mike

In [190]:
class Test():
    i = 3
t = Test()
print(t.i)
t.i = 5
print(t.i)

v=Test()
print(v.i)

Test.i=6
u = Test()
print(u.i)

print(Test.__dict__)
print(t.__dict__)

3
5
3
6
{'__module__': '__main__', 'i': 6, '__dict__': <attribute '__dict__' of 'Test' objects>, '__weakref__': <attribute '__weakref__' of 'Test' objects>, '__doc__': None}
{'i': 5}

In [108]:
class X:
     pass 
X.bar = 0
x = X()
print(x.bar)
#print(x.foo)
X.foo = 1
y = X()
print(y.bar)

0
0

## Homework

In [1]:
# Write a Python program to sort a list of tuples containing name and age such as ("Ali",15) using Lambda.

In [2]:
# Write a Python program to check whether the elements of a given list are number or not using Lambda and map.
ql=['26587','4','125','A001','ali']

In [3]:
#Write a class named Rectangle with a constructor that takes length and width variables 
#and a function to calculate the area of a rectangle. 
#Next, drive a Square class (inheritance) from the Rectangle class. 
#The Square class must have the function to return a boolean value 
#to tell whether it is a square. Also, the Rectangle and Square classes must have a "name" class variables.